.main-display {
    display: flex;
    justify-content: space-evenly;
    min-width: 1100px;
}

.input-text-section {
    display: flex;
    flex-direction: column;
}

.mutation-options {
    display: none;
}

.server-status {
    position: fixed;
    bottom: 0;
    right: 0;
    white-space: nowrap;
    width: max-content;
    min-width: 200px;
    margin-right: 1%;
}